<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
    <aside class="sidebar">
        <div class="scrollbar-inner">
            <div hidden="hidden" th:name=${nav} id="nav"></div>
            <div hidden="hidden" th:name=${subnav} id="subnav"></div>
            <ul class="navigation">
                <!-- Menu Home-->
                <li id="home">
                    <a href="/">
                        <i class="zmdi zmdi-home"></i>
                        My Dashboard
                    </a>
                </li>
                <li id="overview" sec:authorize="hasRole('ADMIN')">
                    <a href="/overview">
                        <i class="zmdi zmdi-spinner"></i>
                        Overview
                    </a>
                </li>
                <li id="user" sec:authorize="hasRole('ADMIN')">
                    <a href="/user/management">
                        <i class="zmdi zmdi-accounts"></i>
                        User Management
                    </a>
                </li>
                <!-- <li id="builder" sec:authorize="hasRole('USER')">
                    <a href="/evaluation/builder">
                        <i class="zmdi zmdi-assignment"></i>
                        Create Evaluation
                    </a>
                </li>
                <li id="my" sec:authorize="hasRole('USER')">
                    <a href="/evaluation/my">
                        <i class="zmdi zmdi-copy"></i>
                        My Evaluations
                    </a>
                </li> -->
                <!-- <li class="navigation__sub" id="analysis">
                    <a href="">
                        <i class="zmdi zmdi-spinner"></i>
                        Summarization
                    </a>
                    <ul>
                        <li id="builder">
                            <a href="/analysis/builder">Query Builder</a>
                        </li>
                        <li id="job">
                            <a href="/analysis/job">Export Jobs</a>
                        </li>
                    </ul>
                </li> -->
                <li id="example-form">
                    <a href="/evaluation/question">
                        <i class="zmdi zmdi-format-clear-all"></i>
                        Help
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</body>
</html>
